body{
   background-color: black;
   flex-direction: row;
   margin: 0px 50px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px;
}
.statingname{
    color: white;
}
.icons img{
    margin: 10px;
}
.img-1{
 height: 70px;
}
.img-2{
 height: 70px;
}
.img-3{
 height: 70px;
}
.name-2 {
    color: white;
    font-size: 20px;
    overflow: hidden;
    font-style: normal;
}
.image img{
    height:508px;
    position: absolute;
    margin-left:20% ;
    margin-top: -5%;
    z-index: -1;
}
.name-3{
    color: white;
    font-size: 150%;
}
.contactme a{
    color:white;
    font-size: 200%;
}
.contactme {
    margin-top:4%;
}
.skill{
    color: white;
    display: flex;
    justify-content: space-between;
    font-size:100%;
}
.skill-2{
    color: white;
    display: flex;
    justify-content: space-between;
    font-size:100%;
}
.experience{
    color: white;
    display: flex;
    justify-content: space-between;
    font-size:120%;
 
}
.experience-2{
    color: white;
    display: flex;
    justify-content: space-between;
    font-size:120%;
   
}
.project{
    color: white;
   
    font-size: 50px;
}
.contactme-2{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
.contactme-2 a{
    color: white;
    font-size:30px;
    font-weight: bold;
}
.boxparent-1{
    display: flex;
    justify-content: space-between;
    color: white;
}
.box-1{
    border: 2px solid white;
    height: 20rem;
    width: 30%;

}
.box-2{
    border: 2px solid white;
    height: 20rem;
    width: 30%;
}
.boxchild-h1{
    color: white;
    display: flex;
    position: relative;
 
    justify-content: space-between;
}
.boxchild-p{
    color: white;
    display: flex;
    justify-content: space-between;
    font-size:20px;
    margin-top: -30px;
}
.boxparent-2{
    display: flex;
    justify-content: space-between;
    color: white;
}
.box-3{
    border: 2px solid white;
    height: 20rem;
    width: 30%;

}
.box-4{
    border: 2px solid white;
    height: 20rem;
    width: 30%;
}
.boxchild-2-h1{
    color: white;
    display: flex;
    position: relative;
  
    justify-content: space-between;
}
.boxchild-2-p{
    color: white;
    display: flex;
    justify-content: space-between;
    font-size:20px;
  
    margin-top: -30px;
}
.boxparent-3{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    color: white;
}
.box-5{
    border: 2px solid white;
    height: 20rem;
    width: 30%;

}
.box-6{
    border: 2px solid white;
    height: 20rem;
    width: 30%;
}
.boxchild-3-h1{
    color: white;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.boxchild-3-p{
    color: white;
    display: flex;
    justify-content: space-between;
    font-size:20px;
    margin-top: -30px;
}
#detail{
    background-color:lightslategray;
}
form input{
    border-radius:10px;
    border: none;
    text-align: center;
    font-size:110%;
    display: flex;
    padding: 20px;
    margin: 30px;
}
.information{
    font-size: 30px;
    text-align: center;
}
.information a{
    color:black;
    font-size:50px;
}
.shubham{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.developer button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-left: 35%;
}
@media screen and (max-width : 480px){
    .navbar{
        display: flex;
        flex-direction: column;
    }
}