body{
   background-color: black;
   flex-direction: row;
}
.name{
    color: white;
    margin-left:10% ;
}
.name-2 {
    color: white;
    font-size: 20px;
    overflow: hidden;
    margin-left: 10%;
    margin-top: 5%;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
}
.name-3{
    color: white;
    margin-left: 10%;
    font-size: 150%;
}
.contactme a{
    color:white;
    margin-left:10%;
    font-size: 200%;
}
.contactme {
    margin-top:4%;
}
.skill{
    color: white;
    display: flex;
    justify-content: space-around;
    font-size:100%;
}
.skill-2{
    color: white;
    display: flex;
    justify-content: space-around;
    font-size:100%;
}
.experience{
    color: white;
    display: flex;
    justify-content: space-around;
    font-size:120%;
    margin-top: -20px;
}
.experience-2{
    color: white;
    display: flex;
    justify-content: space-around;
    font-size:120%;
    margin-top:-20px ;
}
.project{
    color: white;
    margin-left:10%;
    margin-top: 8%;
    font-size: 50px;
}
.contactme-2{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
.contactme-2 a{
    color: white;
    font-size:30px;
    margin-top: -90px;
    font-weight: bold;
    margin-right: 10%;
}
.boxparent-1{
    display: flex;
    justify-content: space-around;
    color: white;
}
.box-1{
    border: 2px solid white;
    height: 20rem;
    width: 30%;

}
.box-2{
    border: 2px solid white;
    height: 20rem;
    width: 30%;
}
.boxchild-h1{
    color: white;
    display: flex;
    position: relative;
    margin-right:2%;
    justify-content: space-around;
}
.boxchild-p{
    color: white;
    display: flex;
    justify-content: space-around;
    font-size:20px;
    margin-top: -30px;
}
.boxparent-2{
    display: flex;
    justify-content: space-around;
    color: white;
}
.box-3{
    border: 2px solid white;
    height: 20rem;
    width: 30%;

}
.box-4{
    border: 2px solid white;
    height: 20rem;
    width: 30%;
}
.boxchild-2-h1{
    color: white;
    display: flex;
    position: relative;
    margin-right:2%;
    justify-content: space-around;
}
.boxchild-2-p{
    color: white;
    display: flex;
    justify-content: space-around;
    font-size:20px;
    margin-right: 7%;
    margin-top: -30px;
}
.boxparent-3{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    color: white;
}
.box-5{
    border: 2px solid white;
    height: 20rem;
    width: 30%;

}
.box-6{
    border: 2px solid white;
    height: 20rem;
    width: 30%;
}
.boxchild-3-h1{
    color: white;
    display: flex;
    position: relative;
    margin-right:2%;
    justify-content: space-around;
}
.boxchild-3-p{
    color: white;
    display: flex;
    justify-content: space-around;
    font-size:20px;
    margin-top: -30px;

}
#detail{
    background-color: lightslategray;
    overflow: hidden;
}
form{
    display: flex;
    justify-content: flex-end;
    height: 30px;
}
::placeholder{
    color:black;
    text-align: center;
}
.hr{
    margin-top:2%;
    width:80%;
    margin-left:10%;
}
.links{
    display: flex;
    justify-content: space-around;
}
.links a{
    font-size:2rem;
    color: black;
    text-decoration: none;
}
.information a{
    color: white;
    font-weight: bold;
    font-size:40px;
}
.information {
    font-size: 30px;
    margin-left:10%;
}